<div class="grid-view">
  <div class="panel-title">{{ 'SKILLS.TITLE' | translate }}</div>
  <button *ngIf="isHudSlot && hudSlotFilled" class="clear-slot-btn" (click)="clearSlot()">{{ 'SKILLS.CLEAR_SLOT' | translate }}</button>

  <div class="tabs">
    <button class="tab-btn" [class.active]="activeTab === 'warrior'" (click)="setTab('warrior')"
            [title]="'SKILLS.WARRIOR' | translate" [attr.aria-label]="'SKILLS.WARRIOR' | translate">
      <ion-icon name="flash-outline"></ion-icon>
    </button>
    <button class="tab-btn" [class.active]="activeTab === 'smoker'" (click)="setTab('smoker')"
            [title]="'SKILLS.SMOKER' | translate" [attr.aria-label]="'SKILLS.SMOKER' | translate">
      <ion-icon name="cloud-outline"></ion-icon>
    </button>
    <button class="tab-btn" [class.active]="activeTab === 'fire'" (click)="setTab('fire')"
            [title]="'SKILLS.FIRE' | translate" [attr.aria-label]="'SKILLS.FIRE' | translate">
      <ion-icon name="flame-outline"></ion-icon>
    </button>
    <button class="tab-btn" [class.active]="activeTab === 'blood'" (click)="setTab('blood')"
            [title]="'SKILLS.BLOOD' | translate" [attr.aria-label]="'SKILLS.BLOOD' | translate">
      <ion-icon name="water-outline"></ion-icon>
    </button>
    <button class="tab-btn" [class.active]="activeTab === 'other'" (click)="setTab('other')"
            [title]="'SKILLS.OTHER' | translate" [attr.aria-label]="'SKILLS.OTHER' | translate">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </button>
  </div>

  <div class="ability-grid" *ngIf="abilities.length > 0">
    <div *ngFor="let a of abilities" class="ability-btn" [class.active]="a.id === selectedId" (click)="select(a)">
      <img *ngIf="iconOf(a)" [src]="iconOf(a)" class="ability-icon-img" />
      <ng-container *ngIf="!iconOf(a)">
        <ion-icon [name]="a.icon" class="ability-icon"></ion-icon>
        <span class="ability-label">{{ a.label }}</span>
      </ng-container>
    </div>
  </div>

  <div class="empty-state" *ngIf="abilities.length === 0">
    <ion-icon name="lock-closed-outline" class="empty-icon"></ion-icon>
    <p>{{ 'SKILLS.EMPTY' | translate }}</p>
  </div>
</div>
