<app-modal-container #menuModal></app-modal-container>
<app-modal-container #characterModal></app-modal-container>
<app-modal-container #inventoryModal></app-modal-container>
<app-modal-container #mapStatsModal></app-modal-container>
<app-modal-container #mapKillsModal></app-modal-container>

<ion-footer>
  <ion-toolbar>


    <div class="icon-menu-wrapper" (click)="goTo('map')">
      <app-icon [name]="'world'" [type]="'menu'"></app-icon>
    </div>

    <div class="icon-menu-wrapper" (click)="openStatus()">
      <app-icon [name]="'overlord-helm'" [type]="'menu'"></app-icon>
    </div>

    <div class="icon-menu-wrapper" (click)="openInventory()">
      <app-icon [name]="'knapsack'" [type]="'menu'"></app-icon>
    </div>


    <div class="icon-menu-wrapper right" (click)="openMenu()">
      <app-icon [name]="'cog'" [type]="'menu'"></app-icon>
    </div>

    <div class="icon-menu-wrapper right" (click)="openMapStats()">
      <app-icon [name]="'chart'" [type]="'menu'"></app-icon>
    </div>

    <div class="icon-menu-wrapper right" (click)="openMapKills()">
      <ion-icon name="skull-outline" class="footer-ion-icon"></ion-icon>
    </div>

  </ion-toolbar>
</ion-footer>