<app-modal-container #menuModal></app-modal-container>
<app-modal-container #inventoryModal></app-modal-container>
<app-modal-container #equipmentModal></app-modal-container>
<app-modal-container #mapStatsModal></app-modal-container>
<app-modal-container #mapKillsModal></app-modal-container>
<app-modal-container #statsModal></app-modal-container>
<app-modal-container #summonModal></app-modal-container>

<ion-footer>
  <ion-toolbar>

    <div class="icon-menu-wrapper" [class.active]="equipmentModal.isOpenModal()" (click)="openEquipment()">
      <ion-icon name="shirt-outline" class="footer-ion-icon"></ion-icon>
      <span class="btn-label">Equipo</span>
    </div>

    <div class="icon-menu-wrapper" [class.active]="summonModal.isOpenModal()" (click)="openSummon()">
      <ion-icon name="flash-outline" class="footer-ion-icon"></ion-icon>
      <span class="btn-label">Invocar</span>
    </div>

    <div class="icon-menu-wrapper right" [class.active]="menuModal.isOpenModal()" (click)="openMenu()">
      <ion-icon name="settings-outline" class="footer-ion-icon"></ion-icon>
      <span class="btn-label">Ajustes</span>
    </div>

    <div class="icon-menu-wrapper right" [class.active]="inventoryModal.isOpenModal()" (click)="openInventory()">
      <ion-icon name="bag-outline" class="footer-ion-icon"></ion-icon>
      <span class="btn-label">Bag</span>
    </div>

    <div class="icon-menu-wrapper right" [class.active]="mapStatsModal.isOpenModal()" (click)="openMapStats()">
      <ion-icon name="bar-chart-outline" class="footer-ion-icon"></ion-icon>
      <span class="btn-label">Stats</span>
    </div>

    <div class="icon-menu-wrapper right" [class.active]="mapKillsModal.isOpenModal()" (click)="openMapKills()">
      <ion-icon name="skull-outline" class="footer-ion-icon"></ion-icon>
      <span class="btn-label">Bajas</span>
    </div>

    <div class="icon-menu-wrapper right" [class.active]="statsModal.isOpenModal()" (click)="openStats()">
      <ion-icon name="podium-outline" class="footer-ion-icon"></ion-icon>
      <span class="btn-label">Rank</span>
    </div>

  </ion-toolbar>
</ion-footer>
