<div class="top-bar">
  <div class="avatar-wrapper">
    <div class="avatar-icon" [ngClass]="'avatar-icon--' + classKey">
      <ion-icon [name]="classIcon"></ion-icon>
    </div>
    <div class="name">{{asgardService?.selectedPlayer?.name}}</div>
  </div>
  <app-status-bar *ngIf="initStatusBar" [class]="'health'" [service$]="valueHP$"></app-status-bar>
  <div class="coins-wrapper">
    <div class="coin-placeholder">
      {{ coins$ | async }}
    </div>
    <div class="coin-spinner"></div>
  </div>
</div>