
.modal-window {
  position: fixed;
  &.menu {
    top: 15px; 
    right: 10px;
    background: #fff;
    border-radius: 8px;
    min-width: 300px;
    height: calc(100% - 70px);
    background: #a19695;
    z-index: 51;
  }
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}
