<div class="rs-block" [class.rs-block--open]="panelOpen">

  <!-- Widget: contadores en vivo (sin barras), estilo barra de vida -->
  <div class="rs-widget">
    <div class="rs-stat">
      <img class="rs-img" src="assets/sprites/resources/world_mode/star/star.png" alt="" draggable="false" />
      <span class="rs-val">{{ stars$ | async }}</span>
    </div>
    <div class="rs-stat">
      <ion-icon class="rs-ic rs-ic--kills" name="skull"></ion-icon>
      <span class="rs-val">{{ kills$ | async }}</span>
    </div>
  </div>

  <!-- Tirador: despliega el panel hacia abajo -->
  <button class="rs-open-btn" (click)="togglePanel()">
    <ion-icon [name]="panelOpen ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
  </button>

  <!-- Panel desplegable: hitos comprables con estrellas (abre hasta cerca del footer). -->
  <div class="rs-panel" *ngIf="panelOpen">

    <!-- Pestañas: objetivos (por comprar) / completos (ya comprados) -->
    <div class="rs-tabs">
      <div class="rs-tab" [class.active]="tab === 'objetivos'" (click)="tab = 'objetivos'">{{ 'RUN.MS_PENDING' | translate }}</div>
      <div class="rs-tab" [class.active]="tab === 'completos'" (click)="tab = 'completos'">{{ 'RUN.MS_DONE' | translate }}</div>
    </div>

    <ng-container *ngIf="(milestones$ | async) as owned">
      <ng-container *ngIf="forTab(owned) as list">
        <div class="rs-ms" *ngFor="let m of list">
          <div class="rs-ms-frame"><ion-icon [name]="m.icon"></ion-icon></div>
          <div class="rs-ms-body">
            <span class="rs-ms-name">{{ m.labelKey | translate }}</span>
            <span class="rs-ms-desc">{{ m.descKey | translate }}</span>
          </div>
          <button class="rs-ms-buy" *ngIf="tab === 'objetivos'" [disabled]="!canBuy(m)" (click)="buy(m)">
            <img class="rs-ms-star" src="assets/sprites/resources/world_mode/star/star.png" alt="" draggable="false" />
            <span>{{ m.cost }}</span>
          </button>
        </div>
        <div class="rs-empty" *ngIf="list.length === 0">{{ 'RUN.MS_NONE' | translate }}</div>
      </ng-container>
    </ng-container>
  </div>

</div>
